
@keyframes prviProgres {
    from{
        width: 0%;
    }
    to{
        width: 33.3333333333333%;
    }
}
@keyframes drugiProgres {
    from{
        width: 33.3333333333333%;
    }
    to{
        width: 66.6666666666666%;
    }
}

@keyframes tretjiProgres {
    from{
        width: 66.6666666666666%;
    }
    to{
        width: 100%;
    }
}

